.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #dee4dd;
}

.main {
  flex: 1;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.frost {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button {
  background: #939792;
  border: 2px solid #6c6f6c;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  padding: 0 24px;
  height: 48px;
  width: 200px;
  max-width: 300px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
  white-space: nowrap;
  border-radius: 0.75rem;
  border-bottom-left-radius: 0px;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button:hover {
  color: white;
  text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  box-shadow: #484a48 0px 1px 40px;
}

.loginButton {
  composes: button;
  background: rgb(248 250 252);
  border: 1px solid rgb(231, 216, 246);
  color: rgb(30 41 59);
  text-shadow: none;
}

.loginButton:hover {
  color: rgb(30 41 59);
  text-shadow: none;
}

.card:hover .arrowIcon {
  color: #dee4dd;
}

.linkGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  composes: frost;
  padding: 1rem 0rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #dee4dd;
  border-color: #dee4dd;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  width: 500px;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 20%;
}

/* MOBILE */
@media (max-width: 800px) {
  .linkGrid {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }

  .body {
    flex-wrap: wrap;
  }

  .buttonContainer {
    flex-wrap: wrap;
  }
}
